.errorIndicator {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px 1px rgba(220, 220, 240, .5);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
