.userDetailsListItem {
  flex: 1 0 auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px 1px rgba(220, 220, 240, .5);

  
  display: inline-flex;
  align-items: stretch;
}

.imageContainer {
  flex: 0 0 100px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.textContainer {
  flex: 1 0 50%;
  padding: 10px 20px;
  margin-right: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer p {
  text-align: center;
}

