.productFilter {
  flex: 0 0 50px; 
  padding: 5px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  align-content: center;
  grid-gap: 5px;
}

.productFilter a {
  text-align: center;
  color: #898989;
}

