.header {
  flex: 0 0 40px;
 }

.headerContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 10px;
    flex-direction: column;
  }

  .logo, .links, .account {
    margin: 5px 0;
  }

  .logo {
    order: 1;
  }

  .links {
    order: 3;
  }

  .account {
    order: 2;
  }
}

.links {
  flex: 0 0 40%;

  display: flex;
  justify-content: flex-start;
}

.links div {
  margin-right: 5px;
}
.links div:last-child {
  margin-right: 0;
}

.logo {
  flex: 0 0 20%;

  display: flex;
  justify-content: center;
}

.account {
  flex: 0 0 40%;

  display: flex;
  justify-content: flex-end;
}

.account div {
  margin-left: 5px;
}
.account div:first-child {
  margin-left: 0;
}



